* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif; 
}

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
    display: inline-block;
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: wheat;
    transition: all .5s;
}

li a:hover::after {
    width: 100%;
}

main {
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.kaizer-bilde {
    max-width: 400px;
    height: auto;
    padding: 30px;
}

.content-left {
    width: 30%;
}

main h1 {
    font-size: 54px;
    color: black;
    text-transform: uppercase;
}

main h2 {
    font-size: 25px;
    color: darkgoldenrod;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

main h3 {
    padding-top: 30px;
    }

main p {
    font-size: 14px;
    font-weight: 400;
    color: grey;
    line-height: 31.5px;
    margin: 30px 0;
}

.kontakt {
    padding: 15px 30px;
    background: goldenrod;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}

.signup {
    padding: 10px 20px;
    background: goldenrod;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}
